body {
  background-image: "";
  background-repeat: repeat;
}
h1 {
  border: 2px solid #a07dff;
  font-family: Roboto;
  color: rgb(190 185 206);
}

.button {
  background-color: #5a058f;
  border: none;
  border-radius: 10px;
  color: rgb(190 185 206);
  padding: 5% 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
}

